.test-letter{
    font-size:26px;
    line-height:19px;
    letter-spacing: 1cm;
}
.test-letter-correct{ 
    color:rgba(30, 17, 219, 0.781);
}
.test-letter-incorrect{
    color:red;
}
.test-letter-not{
    color:darkmagenta;
}