.test-letter{
    font-size:26px;
    line-height:19px;
    letter-spacing: 1cm;
}
.test-letter-correct{
    color:rgb(7, 122, 13);
}
.test-letter-incorrect{
    color:red;
}
.test-letter-not{
    color:rgba(209, 116, 9, 0.87);
}