body{
    margin:0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;

}
.app{
    display: flex;
    flex-direction: column;
    background-color: #262a2b;
}
.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}
.alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}